* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  scroll-behavior: smooth;
  color: inherit;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  font-size: 1rem;
  cursor: pointer;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

body {
  font-family: Roboto, arial, sans-serif;
  color: #393746;
  background-color: #f7f5f9;
  font-size: 14px;
  transition: 0.5s background, color;
}

body.dark {
  color: white;
  background-color: #393746;
}
